body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;

}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials {
    font-size: 1.2rem;
    margin-right: 2rem;
}

.f-info-socials i {
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}
/* all listing page */
.card{
   border:none !important;
   margin-bottom: 2rem !important;
}
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}
.card-image-top{
    border-radius: 2rem !important;
    width:100% !important;
    object-fit:cover !important;
}
.card-body p{
    padding: 0 !important;

}
.card-text p{
    font-weight: 400 !important;
}
.listing-link {
    text-decoration: none;
}

.listing-link:hover {
    text-decoration: underline;
    color: #222222;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
    transition: 0.5s;
}
/* show page */
.show-img {
  height: 40vh;
  border-radius: 2rem !important;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}