<% layout("layout/boilerplate") %>

<div class="row mt-3">
    <div class="col-8 offset-2">

        <h3 class="mt-4">Create a new listing</h3>

        <form action="/listings" method="POST">

            <div class="mb-3">
                <label for="title" class="form-label"> Title</label>
                <input type="text" name="listing[title]" placeholder="Enter title" class="form-control">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label"> Description</label>
                <textarea name="listing[description]" class="form-control" placeholder="Enter description"></textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label"> Image URL</label>
                <input type="text" name="listing[image]" placeholder="Enter image URL" class="form-control">
            </div>

            <div class="row">
                <div class="mb-3 col-4">
                    <label for="price" class="form-label"> Price</label>
                    <input type="number" name="listing[price]" placeholder="Enter price" class="form-control">
                </div>

                <div class="mb-3 col-8">
                    <label for="country" class="form-label"> Country</label>
                    <input type="text" name="listing[country]" placeholder="Enter country" class="form-control">
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label"> Location</label>
                <input type="text" name="listing[location]" placeholder="Enter location" class="form-control">
            </div>

            <button type="submit" class="btn btn-danger mt-3">Create Listing</button>
        </form>

        <br><br><br>

    </div>
</div>
